.rightCom {
  position: absolute;
  right: 0;
  top: 10%;
  width: 20%;
  height: 90%;
  background-color: #fff;
}

.propertyBox{
  display: flex;
 width: 200px;
 height: 60px;
 justify-content: space-between;
}

/* .inputBox{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.propertyLabel{
  width: 200px;
  /* height: 100%; */
  margin-right: 15px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  
}
